<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mosaico Panolatras</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
        </div>

        <div class="jumbotron">
            <p><img src="/static/images/logo-panolatras.png"></p>
            <p>Templates gerados com sucesso!</p>
            <p><input type="button" class="btn btn-lg btn-success" onclick="location.href='{{ url_for('index') }}';" value="Voltar" /></p>
        </div>

        <footer class="footer">
            <p>&copy; Panolatras 2018</p>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</body>

</html>