<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mosaico Panolatras - Gerenciador de Arquivos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{ arr_file|safe }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>