<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mosaico Panolatras</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
        </div>

        <div class="jumbotron">
            <p><img src="/static/images/logo-panolatras.png"></p>
            <form action="{{ url_for('generate_template') }}" method="post">
                <p>Pasta Entrada (Imagens para montar):</p>
                <span id="path_slug_input" class="badge">/Users</span>
                <div class="embed-responsive embed-responsive-21by9" style="height:200px; width:500px; margin:20px 0 30px 0;">
                    <iframe id="file_explorer_input" class="embed-responsive-item" src="file_explorer/Users"></iframe>
                </div>
                <p>Pasta Saída (Imagens montadas):</p>
                <span id="path_slug_output" class="badge">/Users</span>
                <div class="embed-responsive embed-responsive-21by9" style="height:200px; width:500px; margin:20px 0 30px 0;">
                    <iframe id="file_explorer_output" class="embed-responsive-item" src="file_explorer/Users"></iframe>
                </div>
                <input type="hidden" id="path_input" name="path_input">
                <input type="hidden" id="path_output" name="path_output">
                <!-- <p><button type="button" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Gerando Mosaicos">Gerar Mosaicos</button></p> -->
                <button type="submit" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Gerando Mosaicos">Gerar Mosaicos</button>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; Panolatras 2018</p>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('#file_explorer_input').load(function(){

            var iframe = $('#file_explorer_input').contents();

            iframe.find(".list-group-item").click(function(){
               path_full = $(this).attr('rel') + "/";
               $('#path_input').val(path_full);
               $('#path_slug_input').html(path_full);
            });
        });

        $('#file_explorer_output').load(function(){

            var iframe = $('#file_explorer_output').contents();

            iframe.find(".list-group-item").click(function(){
               path_full = $(this).attr('rel') + "/";
               $('#path_output').val(path_full);
               $('#path_slug_output').html(path_full);
            });
        });


        $('.btn').on('click', function() {
            var $this = $(this);
            $this.button('loading');
        });

    });
    </script>

</body>

</html>